---
title: Servicios que ofrecemos
description: "es una empresa que tiene como objetivo el promover la venta de casas y departamentos habitacionales, brindando la asesoría y el apoyo necesario a las personas que quieren adquirir algún bien, con seguridad y conforme a las expectativas que estas personas y su familia tienen.<br/><br/>Buscamos y Comercializamos con Constructoras y Desarrolladoras que cuenten con viviendas pensadas en tus necesidades, tales como Ubicación, Seguridad, Comodidad y Precio."
services:
  - name: "Asesoria sin costo de Créditos: INFONAVIT, FOVISSSTE o Bancarios"
    description: "Te asesoramos en el tramite de crédito para tu vivienda, tramitamos los créditos de vivienda para la adquisición de bienes inmuebles de acuerdo a la normatividad vigente."
    subservices:
      - name: Crédito INFONAVIT
        image: service-icon/infonavit.png
        description: "A veces, decidir cuál te conviene más puede ser un proceso complicado ya que debes tomar en cuenta muchos elementos como son: dónde vives actualmente, la ubicación de tu trabajo, de tu familia cercana, el ahorro que tienes en tu subcuenta, tus planes, etc. Nosotros te apoyamos a que tomes una mejor decisión. Una buena decisión elevará tu calidad de vida, ayudará a cuidar tu patrimonio y el de tu familia."
        links:
          - name: Simulador de Crédito
            icon: "fa fa-calculator"
            href: "http://portal.infonavit.org.mx/wps/wcm/connect/infonavit/trabajadores/precalificacion_y_puntos/precalificacion_y_puntos"
      - name: Crédito FOVISSSTE
        image: service-icon/fovissste.png
        description: "FOVISSSTE tiene diversas opciones de crédito pensadas en las necesidades de cada trabajador. Más allá del Crédito Tradicional, hoy se cuenta con una amplia gama de modalidades que no dependen de un sorteo para construir un patrimonio. Te invitamos a conocerlas para tomar la mejor decisión.<br/>El Crédito Tradicional se puede utilizar para adquirir vivienda nueva o usada y está diseñado para los trabajadores en activo de base, confianza y eventuales al servicio de entidades públicas del Estado y que aporten al FOVISSSTE."
        links:
          - name: Simulador de Crédito
            icon: "fa fa-calculator"
            href: "https://www.gob.mx/fovissste/acciones-y-programas/simuladores-de-creditos-fovissste"
      - name: Crédito Hipotecario Bancario
        image: service-icon/bank.png
        description: "Te ayudamos a elegir el mejor crédito hipotecario que se adapte a tus necesidades. Visita nuestra oficina y recibe la asesoría que mereces para solicitar tu crédito. Las condiciones definitivas del crédito estarán en función del análisis que realice banco."
        links:
          - name: Simulador de Crédito
            icon: "fa fa-calculator"
            href: "https://phpapps.condusef.gob.mx/condusefhipotecario/datos.php"
  - name: "Venta de Desarrollos Inmobiliarios"
    description: "Nuestro conocimiento en el mercado y la experiencia en el campo inmobiliario, nos permiten identificar potenciales compradores de sus inmuebles, con el propósito de celebrar el mejor negocio comercial."
  - name: "Venta de sus Inmuebles"
    description: "¿Tienes una casa, departamento, bodega o terreno que quieras vender?, nosotros te ayudamos."
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Call to Action Bar -->
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<p class="text-justify">
						<strong><%= data.contact.long_name %></strong> <%= current_page.data.description %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<% current_page.data.services.each do |service| %>
  <div class="section">
    <div class="container">
    	<div class="row service-wrapper-row">
  			<div class="col-md-12">
  		    <h2><%= service.name %></h2>
					<h4><%= service.description %></h4>
        </div>
        <% service.subservices.each do |subservice| %>
          <div class="row service-wrapper-row">
            <div class="col-sm-2">
              <div>
                <% link_to '#', :target => '_blank' do %>
                <%= image_tag(subservice.image, alt: subservice.name) %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-10">
              <h3><%= subservice.name %></h3>
              <p class="text-justify">
                <%= subservice.description %>
              </p>
              <% link_to 'mailto:'+data.contact.email, :query => { :subject => 'Ayuda para solicitar Credito de Vivienda', :body => 'Necesito ayuda para solicitar un crédito de Infonavit.' }, :class => 'btn btn-info' do %>
                <i class="fa fa-envelope" aria-hidden="true"></i> Solicitar ayuda
              <% end %>
              <% subservice.links.each do |link| %>
                <% link_to link.href, :class => 'btn btn-default', :target => '_blank' do %>
                  <i class=link.icon aria-hidden="true"></i> link.name
                <% end %>
              <% end %>
            </div>
  			  </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
