<%= partial 'partials/head' %>
<%= partial 'partials/header' %>

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %> <span class="label label-success"><%= current_page.data.price %></span></h1>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Product Image & Available Colors -->
			<div class="col-sm-7">
        <div>
          <ul class="bx-photos-slider">
            <% current_page.data.photos.each do |photo| %>
              <li><%= image_tag(photo.img, resize_to: '652x480', title: photo.title, alt: photo.title) %></li>
            <% end %>
          </ul>
          <div id="bx-photos-pager">
            <% current_page.data.photos.each_with_index do |photo, index| %>
              <a data-slide-index=<%= index %> href="">
                <%= image_tag(photo.img, resize_to: '78x78', alt: photo.title) %>
              </a>
            <% end %>
          </div>
        </div>
			</div>
			<!-- End Product Image & Available Colors -->
			<!-- Product Summary & Options -->
			<div class="col-sm-5">
				<div class="product-details">
					<table class="table">
						<colgroup>
							<col class="col-md-1"></col>
							<col class="col-md-11"></col>
						</colgroup>
						<tbody>
							<tr>
								<td><strong>NOMBRE</strong></td>
								<td><strong><%= current_page.data.title.upcase %></strong></td>
							</tr>
							<tr>
								<td><strong>DIRECCION</strong></td>
								<td><%= current_page.data.address %></td>
							</tr>
							<tr>
								<td><strong>CIUDAD</strong></td>
								<td><%= current_page.data.city %></td>
							</tr>
							<tr>
								<td><strong>PRECIO</strong></td>
								<td><strong><%= current_page.data.price %></strong></td>
							</tr>
							<tr>
								<td><strong>TIPO</strong></td>
								<td>
									<span class="label label-success"><%= current_page.data.category %></span>
									<span class="label label-info"><%= current_page.data.type %></span>
								</td>
							</tr>
							<tr>
								<td><strong>CONSTRUCCIÓN</strong></td>
								<td><%= current_page.data.m2 %> m<sup>2</sup> <i class="fa fa-home"></i></td>
							</tr>
							<tr>
								<td><strong>TERRENO</strong></td>
								<td><%= current_page.data.land %> mts <i class="fa fa-map-o"></i></td>
							</tr>
							<tr>
								<td><strong>RECAMARAS</strong></td>
								<td><%= current_page.data.bedrooms %> <i class="fa fa-bed"></i></td>
							</tr>
							<tr>
								<td><strong>BAÑOS</strong></td>
								<td><%= current_page.data.bathrooms %> <i class="fa fa-shower"></i></td>
							</tr>
							<tr>
								<td><strong>ESTACIONAMIENTOS</strong></td>
								<td><%= current_page.data.garages %> <i class="fa fa-car"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- End Product Summary & Options -->
		</div>
    <br/>
		<div class="row">
			<!-- Product Image & Available Colors -->
			<div class="col-sm-12">
				<p><%= current_page.data.description %></p>
			</div>
		</div>
	</div>
</div>

<%= partial 'partials/product-calltoaction' %>

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Full Description & Specification -->
			<div class="col-sm-6">
				<h2><i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</h2>
				<%= yield %>
			</div>
			<div class="col-sm-6">
				<!-- Location -->
				<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Ubicación</h2>
				<div class="col-sm-12">
		          <!-- Map -->
		          <iframe src="//www.google.com/maps/embed/v1/directions?origin=<%= data.contact.googlemaps_place %>&destination=<%= current_page.data.googlemaps_place %>
		            &key= <%= data.contact.googlemaps_key %>"
		            width="530" height="350"
		            style="border:0" scrolling: "no" allowfullscreen: "" frameborder="0">
		          </iframe>
		          <!-- End Map -->
				</div>
				<!-- End Location -->
			</div>
			<!-- End Full Description & Specification -->
		</div>
</div>

<%= partial 'partials/product-calltoaction' %>

<%= partial 'partials/calltoaction' %>

<div class="section">
	<div class="container">
		<!-- Related Projects -->

	</div>
</div>

<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>
