<%= partial 'partials/head' %>
<%= partial 'partials/header' %>

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %> - <%= current_page.data.price %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Product Image & Available Colors -->
			<div class="col-sm-6">
				<div class="product-image-large">
					<%= image_tag(current_page.data.main_image, alt: current_page.data.title) %>
				</div>
			</div>
			<!-- End Product Image & Available Colors -->
			<!-- Product Summary & Options -->
			<div class="col-sm-6">
				<!-- Contact Form -->
				<h4>Solicitud de Pre-calificación</h4>
				<div class="comment-form-wrapper">
					<form class="">
								<div class="form-group">
									<label for="comment-name"><i class="glyphicon glyphicon-user"></i> <b>Nombre completo</b></label>
							<input class="form-control" id="comment-name" type="text" placeholder="">
						</div>
						<div class="form-group">
							<label for="comment-email"><i class="glyphicon glyphicon-envelope"></i> <b>Correo electónico</b></label>
							<input class="form-control" id="comment-email" type="text" placeholder="">
						</div>
						<div class="form-group">
							<label for="comment-message"><i class="glyphicon glyphicon-comment"></i> <b>Solicitud</b></label>
							<textarea class="form-control" rows="5" id="comment-message"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-large pull-right">Enviar</button>
						</div>
						<div class="clearfix"></div>
							</form>
				</div>
				<!-- End Contact Form -->
			</div>
			<!-- End Product Summary & Options -->
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Full Description & Specification -->
			<div class="col-sm-12">
				<h2>Descripción</h2>
				<div class="col-sm-12 product-details">
					<div class="product-details">
						<h4><%= current_page.title %></h4>
						<div class="price">
							<span class="price-was"></span> <%= current_page.data.price %>
						</div>
						<h5>Resúmen</h5>
						<p>
							<%= current_page.data.description %>
						</p>
						<p><b>Categoria:</b> <%= current_page.data.category %></p>
						<p><b>Tipo:</b> <%= current_page.data.type %></p>
						<p><b>Estatus:</b> <%= current_page.data.status %></p>
						<p><b>Precio:</b> <%= current_page.data.price %></p>
						<p><b>Tamaño:</b> <%= current_page.data.m2 %> m2 - <b>Recamaras:</b> <%= current_page.data.bedrooms %> - <b>Baños:</b> <%= current_page.data.bathrooms %> - <b>Estacionamientos:</b> <%= current_page.data.garages %></p>
						<%= yield %>
					</div>
				</div>
			</div>
			<!-- End Full Description & Specification -->
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Full Description & Specification -->
			<div class="col-sm-12">
				<h2>Ubicación</h2>
				<!-- Map -->
        <div id="contact-us-map">

        </div>
        <!-- End Map -->
			</div>
			<!-- End Full Description & Specification -->
		</div>
	</div>
</div>

<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>
