<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <br/>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Sitio</h3>
        <ul class="no-list-style footer-navigate-section">
          <li><%= link_to 'Inicio', '/' %></li>
          <li><%= link_to 'Viviendas', '/properties' %></li>
          <li><%= link_to 'Contáctanos', '/contact' %></li>
          <li><%= link_to 'Quiénes somos', '/about' %></li>
          <li><%= link_to 'Servicios que ofrecemos', '/services' %></li>
          <li><%= link_to 'Preguntas frecuentes', '/faqs' %></li>
        </ul>
      </div>

      <div class="col-footer col-md-4 col-xs-6">
        <h3>Contáctanos</h3>
        <p class="contact-us-details">
            <b><i class="fa fa-map-marker"></i> Dirección:</b><br/>
            <% link_to data.contact.googlemaps_url, :target => "_blank" do %>
              <%= data.contact.address1 %><br/>
            <% end %>
            <%= data.contact.address2 %><br/>
            <%= data.contact.city %><br/><br/>
            <b><i class="fa fa-phone"></i> Oficina:</b> <%= data.contact.phone %><br/>
            <b><i class="fa fa-mobile"></i> Celular:</b> <%= data.contact.mobile %><br/>
            <b><i class="fa fa-whatsapp"></i> WhatsApp:</b> <%= data.contact.whatsapp %><br/>
            <b><i class="fa fa-envelope-o"></i> Email:</b> <%= mail_to data.contact.email, data.contact.email %>
          </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Síguenos en nuestras Redes Sociales</h3>
        <ul class="social-network social-circle">
          <li>
            <% link_to 'https://www.facebook.com/'+data.contact.facebook, :class => 'icoFacebook', :title => 'Facebook' do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://plus.google.com/'+data.contact.googleplus, :class => 'icoGooglePlus', :title => 'Google Plus' do %>
              <i class="fa fa-google-plus"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://twitter.com/'+data.contact.twitter, :class => 'icoTwitter', :title => 'Twitter' do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://www.linkedin.com/company/'+data.contact.linkedin, :class => 'icoLinkedin', :title => 'Linkedin' do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://www.youtube.com/user/'+data.contact.youtube, :class => 'icoYoutube', :title => 'Youtube' do %>
              <i class="fa fa-youtube-play"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; <%= Time.now.year %> <%= data.contact.long_name %>. Todos los derechos reservados. Desarrollado por: <% link_to 'mailto:efuentesp@gmail.com' do %><i class="fa fa-codepen"></i> NRG-WARE<% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->
