<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Sitio</h3>
        <ul class="no-list-style footer-navigate-section">
          <li><a href="/">Inicio</a></li>
          <li><a href="/properties">Viviendas</a></li>
          <li><a href="/contact">Contáctanos</a></li>
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="/services">Servicios que ofrecemos</a></li>
          <li><a href="/faqs">Preguntas frecuentes</a></li>
        </ul>
      </div>

      <div class="col-footer col-md-4 col-xs-6">
        <h3>Contáctanos</h3>
        <p class="contact-us-details">
            <b>Dirección:</b><br/>
            <%= data.contact.address1 %><br/>
            <%= data.contact.address2 %><br/>
            <%= data.contact.city %><br/>
            <b>Oficina:</b> <%= data.contact.phone %><br/>
            <b>Celular:</b> <%= data.contact.mobile %><br/>
            <b>Email:</b> <a href="mailto:<%= data.contact.email %>"><%= data.contact.email %></a>
          </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Redes Sociales</h3>
        <ul class="social-network social-circle">
          <li><a href="#" class="icoWhatsApp" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; <%= Time.now.year %> <%= data.contact.long_name %>. Todos los derechos reservados.</div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->
