<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
  <div class="container">

    <div class="menuextras">
      <div class="extras">
        <ul>
          <li>
            <b><i class="fa fa-phone"></i> Oficina:</b> <%= data.contact.phone %>
          </li>
          <li>
            <b><i class="fa fa-mobile"></i> Celular:</b> <%= data.contact.mobile %>
          </li>
          <li>
            <b><i class="fa fa-whatsapp"></i> WhatsApp:</b> <%= data.contact.whatsapp %>
          </li>
          <li>
            <% link_to 'https://www.facebook.com/'+data.contact.facebook, :title => 'Facebook' do %>
              <i class="fa fa-facebook-official"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://twitter.com/'+data.contact.twitter, :title => 'Twitter' do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://www.linkedin.com/company/'+data.contact.linkedin, :title => 'Linkedin' do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'https://www.youtube.com/user/'+data.contact.youtube, :title => 'Youtube' do %>
              <i class="fa fa-youtube-play"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <nav id="mainmenu" class="mainmenu">
      <ul>
        <li class="logo-wrapper">
          <% link_to '/' do %>
            <%= image_tag("logo_40x40.png", alt: data.contact.short_name) %>
          <% end %>
        </li>
        <li class="active">
          <%= link_to data.contact.short_name.upcase, '/' %>
        </li>
        <li>
          <%= link_to 'Viviendas', '/properties' %>
        </li>
        <li>
          <%= link_to 'Nuestros Servicios', '/services' %>
        </li>
        <li>
          <%= link_to 'Contáctanos', '/contact' %>
        </li>
        <li>
          <%= link_to 'Quiénes somos', '/about' %>
        </li>
        <li>
          <%= link_to 'Preguntas frecuentes', '/faqs' %>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- End Navigation & Logo-->
