<div class="section">
  <div class="container">
    <h2>A la Venta</h2>
    <br/>
    <% blog('products').articles.each do |product| %>
        <div class="row">
        <!-- Image Column -->
        <div class="col-sm-6">
          <div class="portfolio-item">
            <div class="portfolio-image">
            <% link_to product.url do %>
              <%= image_tag(product.data.main_image, alt: product.title) %>
            <% end %>
            </div>
          </div>
        </div>
        <!-- End Image Column -->
        <!-- Project Info Column -->
        <div class="portfolio-item-description col-sm-6">
          <br/>
          <% link_to product.url do %>
            <h3><%= product.title %> <span class="label label-primary"><%= product.data.price %></span></h3>
          <% end %>
          <p><strong><%= product.data.address %>. <%= product.data.city %></strong></p>
          <p><%= truncate(product.data.description, :length => 200) %></p>
          <ul class="no-list-style">
            <li>
              <span class="label label-success"><%= product.data.category %></span> <span class="label label-info"><%= product.data.type %></span>
            </li>
            <li>
              <i class="fa fa-home"></i>: <%= product.data.m2 %> m<sup>2</sup> - <i class="fa fa-bed"></i>: <%= product.data.bedrooms %> - <i class="fa fa-shower"></i>: <%= product.data.bathrooms %> - <i class="fa fa-car"></i>: <%= product.data.garages %>
            </li>
            <li class="portfolio-visit-btn">
              <% link_to product.url, :class => 'btn' do %>
                Más Información <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <!-- End Project Info Column -->
        </div>
    <% end %>
  </div>
</div>
