<div class="section">
  <div class="container">
    <h2>Nuevas</h2>
    <br/>
    <% blog('products').articles.each do |product| %>
        <div class="row">
        <!-- Image Column -->
        <div class="col-sm-6">
          <div class="portfolio-item">
            <div class="portfolio-image">
            <% link_to product.url do %>
              <%= image_tag(product.data.main_image, alt: product.title) %>
            <% end %>
            </div>
          </div>
        </div>
        <!-- End Image Column -->
        <!-- Project Info Column -->
        <div class="portfolio-item-description col-sm-6">
          <br/>
          <% link_to product.url do %>
            <h3><%= product.title %><br/></h3>
          <% end %>
          <p><strong><%= product.data.address %>.<br/> <%= product.data.city %></strong></p>
          <h3><span class="label label-primary"><%= product.data.price %></span></h3>
          <p><%= truncate(product.data.description, :length => 550) %></p>
          <ul class="no-list-style">
            <li>
              <div class="col-md-8">
                <span class="label label-default"><i class="fa fa-home"></i> <%= product.data.m2 %> m<sup>2</sup></span>
                <span class="label label-default"><i class="fa fa-bed"></i> <%= product.data.bedrooms %></span>
                <span class="label label-default"><i class="fa fa-shower"></i> <%= product.data.bathrooms %></span>
                <span class="label label-default"><i class="fa fa-car"></i> <%= product.data.garages %></span>   
              </div>
              <div class="col-md-4">
                <% link_to product.url, :class => 'btn btn-warning' do %>
                  Más Información <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <% end %>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <span class="label label-success"><%= product.data.category %></span> <span class="label label-info"><%= product.data.type %></span>
              </div>
            </li>
          </ul>
        </div>
        <!-- End Project Info Column -->
        </div>
    <% end %>
  </div>
</div>
