<!-- Services -->
<div class="section">
      <div class="container">
        <h2>Nuestros Servicios</h2>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="service-wrapper">
              <%= image_tag("service-icon/Infonavit-fovissste.png", alt: current_page.data.title) %>
              <h3>Asesoria sin costo de Créditos: INFONAVIT, FOVISSSTE o Bancarios</h3>
              <p>Te asesoramos en el tramite de crédito para tu vivienda, tramitamos los créditos de vivienda para la adquisición de bienes inmuebles de acuerdo a la normatividad vigente.</p>
              <p><%= link_to 'Ver más...', '/services#creditos', :class => 'btn btn-success' %></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-wrapper">
              <%= image_tag("service-icon/desarrollos.png", alt: current_page.data.title) %>
              <h3>Venta de Desarrollos Inmobiliarios</h3>
              <p>Nuestro conocimiento en el mercado y la experiencia en el campo inmobiliario, nos permiten identificar potenciales compradores de sus inmuebles, con el propósito de celebrar el mejor negocio comercial.</p>
              <p><%= link_to 'Ver más...', '/services#desarrollos', :class => 'btn btn-success' %></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-wrapper">
              <%= image_tag("service-icon/venta-casas.png", alt: current_page.data.title) %>
              <h3>Venta de sus Inmuebles</h3>
              <p>¿Tienes una casa, departamento, bodega o terreno que quieras vender?, nosotros te ayudamos.</p>
              <p><%= link_to 'Ver más...', '/services#inmuebles', :class => 'btn btn-success' %></p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- End Services -->
