---
title: Contáctanos
---
<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
  <div class="container">
      <div class="row">
        <h2><%= data.contact.long_name %></h2>
        <div class="col-sm-7">
          <!-- Map -->
          <!-- Map -->
          <% link_to data.contact.googlemaps_url, :target => "_blank" do %>
            <%= image_tag(data.contact.mapimage, resize_to: '650x350', alt: "data.contact.address") %>
          <% end %>
          <!-- End Map -->
          <% link_to data.contact.googlemaps_url, :target => "_blank", :class => 'btn btn-default' do %>
            <i class="fa fa-map-marker" aria-hidden="true"></i> ¿Cómo llego?
          <% end %>
        </div>
        <div class="col-sm-5">
          <!-- Contact Info -->
          <p class="contact-us-details">
            <b><i class="fa fa-map-marker"></i> Dirección:</b><br/>
            <% link_to data.contact.googlemaps_url, :target => "_blank" do %>
              <%= data.contact.address1 %><br/>
            <% end %>
            <%= data.contact.address2 %><br/>
            <%= data.contact.city %><br/><br/>
            <b><i class="fa fa-phone"></i> Oficina:</b> <%= data.contact.phone %><br/>
            <b><i class="fa fa-mobile"></i> Celular:</b> <%= data.contact.mobile %><br/>
            <b><i class="fa fa-whatsapp"></i> WhatsApp:</b> <%= data.contact.whatsapp %><br/>
            <b><i class="fa fa-envelope-o"></i> Email:</b> <%= mail_to data.contact.email, data.contact.email %>
          </p>
          <!-- End Contact Info -->
        </div>
      </div>
  </div>
</div>

<%= partial 'partials/calltoaction' %>
