---
title: Preguntas frecuentes

question_groups:
  -
    title: Preguntas Infonavit
    questions:
      -
        title: "Quiero aprovechar mi crédito Infonavit pero me prestan poco (entre $240,000 y $260,000), ¿qué puedo hacer?"
        answer: "El Gobierno Federal otorga Apoyos o Subsidios en algunos Fraccionamientos para trabajadores que tienen un salario registrado menor a $6,000 mensuales y que cumplen ciertos requisitos establecidos por la Conavi.<br/>Entre los requisitos necesarios para solicitar un Subsidio son: estar cotizando ante Infonavit, tener una relación laboral vigente, al menos 116 puntos y $11,500 en tu Subcuenta de vivienda del Afore (si tienes menos puedes completarlos).<br/>Los Subsidios los otorga el Gobierno con base en una lista de espera, dependiendo de la disponibilidad de recursos, y variando en cada zona y Fraccionamiento.<br/>La cantidad de Subsidio que otorga el Gobierno depende del valor de la vivienda y de tu salario registrado, pudiendo recibir un Subsidio de entre $30,000 y hasta $60,000.<br/>Actualmente, solamente los departamentos en edificios de 5 niveles anunciados están disponibles con Subsidio. Las casas dúplex y las casas solas anunciadas no están disponibles con Subsidio, solamente con crédito Infonavit.<br/>Contáctanos para analizar tu crédito Infonavit e indicarte las viviendas a tu alcance."
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 faq-wrapper">
        <div class="panel-group" id="accordion">
          <% current_page.data.question_groups.each_with_index do |group, i| %>
            <h3><%= group.title %></h3>
            <% group.questions.each_with_index do |question, j| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=<%= "#collapse#{i+1}#{j+1}" %> >
                    <%= question.title %>
                  </a>
                </div>
                <div id=<%= "collapse#{i+1}#{j+1}" %> class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="answer">Respuesta:</div>
                    <p class="text-justify"><%= question.answer %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
