---
title: Quiénes somos
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3><%= data.contact.long_name %></h3>
        <p>
          Somos la <strong><%= data.contact.long_name %></strong>, una empresa 100% mexicana que se esfuerza por brindarle a los Poblanos un patrimonio y bienestar social, a través de la venta de viviendas de calidad a un precio justo.
        </p>
        <br/>
        <h3>Misión</h3>
        <p>
          En <strong><%= data.contact.long_name %></strong>, nuestra misión es: <i>"Ayudarte en el trascendental paso de comprar tu propia casa"</i>. Permítenos ayudarte en el proceso de realizar uno de los sueños más importantes de tu vida.
        </p>
      <br/>
       <h3>Visión</h3>
        <p>
          Ser la Promotora Inmobiliaria de Puebla líder en su ramo, dando un servicio de excelencia a sus clientes, a la hora de tomar la decisión de adquirir su propio hogar. Buscamos lograr la satisfacción total de nuestros clientes, ofreciendo un servicio personalizado que permita cumplir con las expectativas de nosotros y de nuestros clientes.
        </p>
      <br/>
       <h3>Nuestos Valores</h3>
        <p>
          <ul>
            <li>COMPROMISO.- Cumplir lo acordado con el cliente en cada venta.</li>
            <li>CALIDAD.- En nuestros productos y servicios.</li>
            <li>SERVICIO.- Dedicado y atento para con nuestros clientes.</li>
            <li>PUNTUALIDAD.- En la entrega y cumplimiento de los compromisos.</li>
          </ul>
        </p>
      </div>
      <div class="col-sm-6">
        <div class="video-wrapper">
          <iframe src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/calltoaction' %>
